<div id="Trigger{{trigger.id}}" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h4 class="modal-title">Trigger - {{trigger.name}}</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="nameTrigger">Name:</label>
                    <input type="text" class="form-control" id="nameTrigger" ng-model="trigger.name"></div>
                <div class="form-group">
                    <label for="listenTrigger">Listen:</label>
                    <ui-select id="listenTrigger" ng-model="trigger.listen" theme="selectize" >
                        <ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="option in $root.availableSituations | filter: {name: $select.search}">
                            <span ng-bind-html="option.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="typeTrigger">Type:</label>
                    <a id="typeTrigger">{{trigger.type}}</a></div>
                <div class="form-group">
                    <label for="statusTrigger">Status:</label>
                    <a id="statusTrigger">{{trigger.state}}</a></div>
                <div class="form-group">
                    <label for="eventTrigger">Event:</label>
                    <select class="form-control" id="eventTrigger" ng-model="trigger.on">
                        <option>Start</option>
                        <option>Finish</option>
                    </select></div>

                <div id="collapse-add-form">
                    <button type="button" class="btn btn-success" ng-click="addCase()">Add Case</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteCase()">Delete Case</button>
                </div>
                <div custom-accordion trigger="trigger" collapse-panel-id="collapse-panel" collapse-panel-body-id="collapse-panel-body"></div>

            </div>
            <div class="modal-footer">
                <save-button  data-dismiss="modal" endpoint="trigger" dataclass="trigger" data="trigger" id="{{trigger.id}}" title="trigger save"></save-button>
                <dismiss-button data-dismiss="modal" method="close()"></dismiss-button>
            </div>

        </div>
    </div>
</div>