<div id="MonitoringView">
    <div class="container-fluid" style="padding:0;">
        <div class="panel-heading panel-heading-custom">
            <div class="btn-group btn-group-sm" aria-label="..." style="width: 100%;">
                <button type="button" class="btn btn-danger" ng-click="ctrl.pauseResumeContext('pause')" ng-disabled="ctrl.contextWithCurrentStatusNotExists('In Progress')"><span class="glyphicon glyphicon-pause"></span>&nbsp;&nbsp;Pause</button>
                <button type="button" class="btn btn-info" ng-click="ctrl.pauseResumeContext('resume')" ng-disabled="ctrl.contextWithCurrentStatusNotExists('Paused')"><span class="glyphicon glyphicon-play"></span>&nbsp;&nbsp;Resume</button>

                <button type="button" class="btn btn-success" ng-click="ctrl.refreshContexts()"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Refresh</button>

                <!-- Split button -->
                <div class="btn-group btn-group-sm" uib-dropdown>
                    <button id="split-button" class="btn btn-danger" type="button" ng-click="ctrl.deleteContexts()" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><a ng-click="ctrl.deleteContexts()" href="#">Delete selected</a></li>
                        <li role="menuitem"><a ng-click="ctrl.deleteContextsByFilter()" href="#">Delete by filter</a></li>
                        <li role="menuitem" class="divider"></li>
                        <li role="menuitem"><a ng-click="ctrl.deleteAllContexts()" href="#">Delete all</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-info pull-right" ng-click="ctrl.initSearch()"><span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Clear filter</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <table class="table table-striped small" ng-if="monitoringModel.reportItems != null">
            <thead>
            <tr>
                <th>#</th>
                <th>
                    <div class='filter-container'>
                        <div>
                            <a href="" ng-click="ctrl.sortBy('name')">Name</a>
                            <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                        </div>
                        <input type="text" class="filter-input" ng-model="ctrl.search.name" placeholder="Search by name..." title="Search by the Name" id="monitoring.search.name">
                    </div>
                </th>
                <th>
                    <div class='filter-container'>
                        <div>
                            <a href="" ng-click="ctrl.sortBy('initiator')">Initiator</a>
                            <span class="sortorder" ng-show="propertyName === 'initiator'" ng-class="{reverse: reverse}"></span>
                        </div>
                        <input type="text" class="filter-input" ng-model="ctrl.search.initiator" placeholder="Search by initiator..." title="Search by the initiator" id="monitoring.search.initiator">
                    </div>
                </th>
                <th>
                    <div class='filter-container'>
                        <div>
                            <a href="" ng-click="ctrl.sortBy('status')">Status</a>
                            <span class="sortorder" ng-show="propertyName === 'status'" ng-class="{reverse: reverse}"></span>
                        </div>
                        <input type="text" class="filter-input" ng-model="ctrl.search.status" placeholder="Search by status..." title="Search by the status" id="monitoring.search.status">
                    </div>
                </th>
                <th>
                    <div class='filter-container'>
                        <div>
                            <a href="" ng-click="ctrl.sortBy('environment')">Environment</a>
                            <span class="sortorder" ng-show="propertyName === 'environment'" ng-class="{reverse: reverse}"></span>
                        </div>
                        <input type="text" class="filter-input" ng-model="ctrl.search.environment" placeholder="Search by environment..." title="Search by the environment" id="monitoring.search.environment">
                    </div>
                </th>
                <th>
                    <div class='filter-container'>
                        <div>
                            <a href="" ng-click="ctrl.sortBy('startTime')">Start</a>
                            <span class="sortorder" ng-show="propertyName === 'startTime'" ng-class="{reverse: reverse}"></span>
                        </div>
						<input class="monitoring-date-filter" type="button" value=">" id="monitoring.button.startDate" ng-click="ctrl.changeValue('start')">
                        <input type="text" class="filter-input" style="width: auto;" ng-model="ctrl.startTimeObj" is-open="startDatePopupOpened" ng-click="ctrl.openDateCalendar($event, 'startTimeObj'); startDatePopupOpened = true" ng-change="ctrl.setDateFilter(ctrl.startTimeObj,'startTime');" placeholder="dd.MM.yy" title="Search by the start date" id="monitoring.search.startDate" uib-datepicker-popup="dd.MM.yy"/>
                    </div>
                </th>
                <th>
                    <div class='filter-container'>
                        <div>
                            <a href="" ng-click="ctrl.sortBy('endTime')">Finish</a>
                            <span class="sortorder" ng-show="propertyName === 'endTime'" ng-class="{reverse: reverse}"></span>
                        </div>
                        <input class="monitoring-date-filter" type="button" value=">" id="monitoring.button.finishDate" ng-click="ctrl.changeValue('finish')">
                        <input type="text" class="filter-input" style="width: auto;" ng-model="ctrl.endTimeObj" is-open="finishDatePopupOpened"  ng-click="ctrl.openDateCalendar($event, 'endTimeObj'); finishDatePopupOpened = true" ng-change="ctrl.setDateFilter(ctrl.endTimeObj,'endTime');" placeholder="dd.MM.yy" title="Search by the finish date" id="monitoring.search.finishDate" uib-datepicker-popup="dd.MM.yy"/>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reportItem in monitoringModel.reportItems | filter:ctrl.search:false | orderBy:ctrl.valueFunc:reverse" ng-class="reportItem.status === 'Passed' ? 'success' : (reportItem.status === 'Failed' ? 'danger' : (reportItem.status === 'In Progress' ? 'active' :  ''))">
                <td>
                    <input type="checkbox" ng-model="reportItem.selected"></td>
                <td>
                    <!--<a ng-click="ctrl.getContext(reportItem.id)" href="#Context" data-backdrop="false" data-toggle="modal">{{reportItem.name}}</a>-->
                    <a href ng-click="$root.openModal('context', reportItem.id, true)">{{reportItem.name}}</a>
                </td>
                <td>{{reportItem.initiator}}</td>
                <td><span class="label" ng-class="reportItem.status === 'Passed' ? 'label-success' : (reportItem.status === 'Failed' ? 'label-danger' : (reportItem.status === 'In Progress' ? 'label-primary' :  'label-default'))">{{reportItem.status}}</span></td>
                <td>{{reportItem.environment}}</td>
                <td>{{reportItem.startTime}}</td>
                <td>{{reportItem.endTime}}</td>
            </tr>
            </tbody>
        </table>
        <table ng-if="monitoringModel.reportItems != null">
            <tr>
                <td class="col-md-1" style="vertical-align: top;">
                    <select class="form-control" style="height: 30px" name="Page Size"
                            ng-model="monitoringModel.pageSize" ng-selected="monitoringModel.pageSize"
                            ng-options="size for size in monitoringModel.pageSizes"
                            ng-change="monitoringModel.setPageSize(monitoringModel.pageSize)">
                        {{size}}
                    </select>
                </td>
                <td class="col-md-8">
                    <ul style="padding:0; margin: 0;" uib-pagination total-items='monitoringModel.messageCount'
                        ng-change='monitoringModel.getPage(monitoringModel.currentPage - 1)'
                        ng-model='monitoringModel.currentPage'
                        max-size="10" class="pagination-sm" items-per-page="monitoringModel.pageSize"
                        boundary-links="true"
                        rotate="false"></ul>
                </td>
            </tr>
        </table>
        <br>&nbsp;&nbsp;<b><font color="red">NOTE:</font> Filter and sorting are performed on current page rows only! Filtering on the server is <u>under construction</u>. Buttons ">" near start and finish are working only when you are going to delete contexts by filter. </b>
    </div>
</div>
<br/> <!--Spacing for link in left bottom corner-->
<!--<context-view-popup></context-view-popup>-->
