<div class="row">
    <a class="col-md-2" ng-click="showKeysToRegeneratePopup()" href>Update Parameters</a>
</div>
<div class="row">
        <span class='col-md-12 info-text'>
            <span>[</span>
            <span ng-repeat="key in object.keysToRegenerate | limitTo:3">{{key.key}}<span ng-if="!$last">,&nbsp;</span>
            <span ng-if="object.keysToRegenerate.length > 3 && $last">, ...</span></span>
            <span>]</span>
        </span>
</div>
<div class="row" style="height: 5px">
</div>