<div class="row">
    <div class="col-md-1">Name:</div>
    <div class="col-md-3"><div mockingbird-editable-text entity-name="name"  current="result"></div></div>
</div>
<input type="checkbox" ng-model="result.needOtherServer"> Need other server
<div class="row" ng-show="result.needOtherServer">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#CustomServer" data-toggle="collapse"># Server options</a>
                    <div ng-if="false"><input type="checkbox" ng-model="result.needNewServer"> Need new server</div>
                    <div class="pull-right">
                        <input type="checkbox" ng-model="statusSelectedForAllSystem" ng-click="setStatusSelectedForAllSystem()" ng-change="getStatusSelectedForAllSystem()"> Set server in all systems
                    </div>
                </h4>
            </div>
            <div id="CustomServer"  class="panel-collapse collapse">
                <div class="row">
                    <div ng-if="!result.needNewServer" class="col-md-6">
                        <div mockingbird-editable-select entity-name="server" array="$root.availableServers" current="result"></div>
                    </div>
                    <div ng-if="result.needNewServer" class="col-md-12">
                        <div class="col-md-1">Name:</div>
                        <div class="col-md-3"><div mockingbird-editable-text entity-name="name"  current="result.server"></div></div>
                        <div class="col-md-1">Url:</div>
                        <div class="col-md-3"><div mockingbird-editable-text entity-name="url"  current="result.server"></div></div>
                    </div>
                </div>
                <table class="table table-striped small" ng-hide="environment.inbound.length == 0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="col-md-6">System</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in environment.inbound">
                            <td><input type="checkbox" ng-model="item.system.selected" ng-change="getStatusSelectedForAllSystem()"></td>
                            <td class="col-md-12">{{item.system.name}}</td>
                        </tr>
                        <tr ng-repeat="item in environment.outbound">
                            <td><input type="checkbox" ng-model="item.system.selected" ng-change="getStatusSelectedForAllSystem()"></td>
                            <td class="col-md-12">{{item.system.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<input type="checkbox" ng-model="result.useStandardTriggers"> Use standard triggers
<div class="row" ng-show="result.useStandardTriggers">
    <div class="col-md-12 panel-group">
        <div ng-repeat="standardTrigger in result.standardTriggers">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#ConfigurationItemPopup{{$index}}" data-toggle="collapse"># {{standardTrigger.userTypeName}}</a>
                    </h4>
                </div>
                <div id="ConfigurationItemPopup{{$index}}"  class="panel-collapse collapse">
                    <transport-properties-table hide-interceptor-view="true"  transport="standardTrigger"></transport-properties-table>
                </div>
            </div>
        </div>
    </div>
</div>