<div ng-if="isTemplate">
    <div class="panel-without-border panel-default" ng-if="template.id != null">
        <div class="panel-heading panel-heading-custom">
            <main-property object="template" type="template"></main-property>
            <div ng-init="getById()"></div>
        </div>
        <div class="panel-body" style=" padding: 0px; overflow-x: hidden; overflow-y: scroll; max-height:720px;">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTemplate2">Content</a>
                        </h4>
                        <div class="box pull-right">
                            <select class="form-control input-sm pull-right" id="aceMode"
                                    ng-model="$root.availableModes.select"
                                    ng-options="option.name for option in $root.availableModes | orderBy:'name'"
                                    ng-change="modeChanged()">
                            </select>
                        </div>
                        <!--<button type="button" class="btn btn-sm btn-info pull-right right-margin-small" href="#TemplateDebugger" data-toggle="modal" ng-click="templateModel.loadTemplateDebugger(template)" >Debug</button>-->
                        <debug-module template="template"></debug-module>
                        <div class="clearfix"></div>
                    </div>
                    <div id="collapseTemplate2" class="panel-collapse collapse">
                        <div class="editor" ui-ace="aceOption" ng-model="template.content"></div>
                    </div>
                </div>

                <!-I think not need directive-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseTemplate3">Transport Properties</a>
                        </h4>
                    </div>
                    <div id="collapseTemplate3" class="panel-collapse collapse">
                        <table class="table table-striped small">
                            <tr ng-if="template.transportProperties != null" class="panel panel-default"
                                ng-repeat="classProperties in template.transportProperties">
                                <td>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            {{classProperties.name}}
                                        </div>
                                        <table class="table" id="{{classProperties.name}}">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Value</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="property in classProperties.transportProperties">
                                                <td>
                                                    {{property.userName}}
                                                </td>
                                                <td>
                                                    <div ng-if="property.select == 'true'">
                                                        <div mockingbird-editable-select is-value-string="true"
                                                             entity-name="value"
                                                             array="property.options" current="property"
                                                             ng-model="property.value"></div>
                                                    </div>
                                                    <div mockingbird-editable-select
                                                         ng-if="property.inputType === 'reference'"
                                                         entity-name="referenceValue"
                                                         array="property.referenceOptions"
                                                         current="property" ng-model="property.value"></div>
                                                    <input mockingbird-editable-select
                                                           ng-if="property.inputType === 'string' && property.select == 'false'"
                                                           type="text"
                                                           placeholder="{{property.description}}"
                                                           class="form-control"
                                                           ng-model="property.value">
                                                    <textarea
                                                            ng-if="(property.inputType === 'list' || property.inputType === 'map') && property.select == 'false'"
                                                            class="form-control" rows="2"
                                                            placeholder="{{property.description}}"
                                                            ng-model="property.value">
                                                    </textarea>
                                                </td>
                                                <!--

                                                                            <td>
                                                                                {{property.userName}}
                                                                            </td>
                                                                            <td>
                                                                                <input ng-show="property.inputType === 'string'" type="text" class="form-control" ng-model="property.value"/>
                                                                                <input ng-show="property.inputType === 'string'" type="text" class="form-control" ng-model="property.value"/>
                                                                            </td>
                                                -->
                                            </tr>
                                            <tr>
                                                <td colspan="2">

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <interceptor-table class="table" transport-provider="template" transport="classProperties" interceptor-group = "ContentInterceptor"></interceptor-table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<watcher-for-data ng-data="template"></watcher-for-data>