<div id="TemplateModal" class="modal fade" style="z-index:20;">
    <div class="modal-dialog large-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.checkUnsavedData($event)">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="panel-without-border panel-default">
                            <div class="panel-heading panel-heading-custom">
                                <label><h4>Main Properties</h4></label>
                                <div class="form-inline" role="form">
                                    <div class="form-group">
                                        <label for="templateName"><h5>Name:</h5></label>
                                        <input type="text" class="form-control" id="templateName" ng-model="templateModel.current.name" style="width:900px;" ng-change="ctrl.dataWasChanged()">
                                    </div>
                                    <div class="btn-toolbar pull-right" role="toolbar">
                                        <button type="submit" class="btn btn-success" ng-click="templateModel.saveChanges()">Save</button>
                                        <button type="submit" class="btn btn-danger" ng-click="templateModel.rejectChanges()">Reject</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body" style=" padding: 0px; overflow-x: hidden; overflow-y: scroll;height:600px;">
                                <div class="container-fluid" style=" padding: 0px;">
                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title pull-left">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#modalCollapseTemplate2">Content</a>
                                                </h4>
                                                <div class="box pull-right">
                                                    <select class="form-control input-sm pull-right" id="aceMode" ng-model="templateModel.availableModes.select"
                                                            ng-options="option.name for option in templateModel.availableModes.options | orderBy:'name'"
                                                            ng-change="modeChanged()">
                                                    </select>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div id="modalCollapseTemplate2" class="panel-collapse collapse">


                                                <div class="editor" ui-ace="aceOption" ng-model="templateModel.current.content" ng-change="ctrl.dataWasChanged()"></div>


                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#modalCollapseTemplate3">Property</a>
                                                </h4>
                                            </div>
                                            <div id="modalCollapseTemplate3" class="panel-collapse collapse">


                                                <table class="table table-striped small">
                                                    <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Value</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="property in templateModel.current.properties">
                                                        <td>
                                                            {{property.userName}}
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="property.value" ng-change="ctrl.dataWasChanged()"/>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#modalCollapseTemplate4">Headers</a>
                                                </h4>
                                            </div>
                                            <div id="modalCollapseTemplate4" class="panel-collapse collapse">

                                                <div class="form-group">
                                                    <br/>
                                                    <button type="submit" class="btn btn-success btn-sm" ng-click="templateModel.addHeader()">Add</button>
                                                    <button type="submit" class="btn btn-danger btn-sm" ng-click="ctrl.deleteHeaders()">Delete</button>
                                                </div>

                                                <table class="table table-striped small">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Key</th>
                                                        <th>Value</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="header in templateModel.current.headers">
                                                        <td>
                                                            <input type="checkbox" ng-model="header.selected"></td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="header.name" ng-change="ctrl.dataWasChanged()"/>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="header.value" ng-change="ctrl.dataWasChanged()"/>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>