<table class="table table-striped small">
    <thead>
    <tr>
        <th>#</th>
        <th class="col-md-5">Name</th>
        <th class="col-md-2">Endpoint</th>
        <th class="col-md-5">Type</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="transport in tableData.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
        <td >
            <input type="checkbox" ng-model="transport.selected" ng-click="addToSelected($event, transport)" ng-checked="checkedData.indexOf(transport) > -1">
        </td>
        <td class="col-md-5">
            <a href ng-click="$root.openModal('transport', transport.id)">{{transport.name}}</a>
        </td>
        <td class="col-md-2">{{transport.endpoint}}</td>
        <td class="col-md-5">{{transport.userTypeName}}</td>
    </tr>
    </tbody>
</table>
<div style="text-align: center;" ng-if="tableData.length > itemsPerPage">
    <ul style="padding:0; margin: 0;" uib-pagination total-items="tableData.length" ng-change="updatePageIndexes(currentPage)" ng-model="currentPage" max-size="maxSize" class="pagination-sm" items-per-page="itemsPerPage" boundary-links="true" rotate="false"></ul>
</div>
