<table class="table table-striped small">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Operation</th>
        <th>Message Template</th>
        <th>Units</th>
        <th>Delay</th>
        <th>MEP</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="step in tableData">
        <td><input type="checkbox" ng-click="addToSelected($event, step)" ng-checked="checkedData.indexOf(step) > -1"></td>
        <td><div mockingbird-editable-text entity-name="name" current="step"></div></td>
        <td><div mockingbird-editable-select entity-name="sender" array="$root.availableSystems" current="step" is-value-link="true"></div><system-view-popup  system="step.sender"></system-view-popup></td>
        <td><div mockingbird-editable-select entity-name="receiver" array="$root.availableSystems" current="step" is-value-link="true"></div><system-view-popup  system="step.receiver"></system-view-popup></td>
        <td><div mockingbird-editable-select entity-name="operation" array="$root.availableOperations" current="step" is-value-link="true" ></div><operation-view-popup operation="step.operation"></operation-view-popup></td>
        <td><div mockingbird-editable-select entity-name="template" array="$root.availableTemplates" current="step" is-value-link="true"></div><template-view-popup template="step.template"></template-view-popup></td>
        <td><div mockingbird-editable-select entity-name="unit" array="$root.availableUnit" current="step" is-value-string="true"></div></td>
        <td><div mockingbird-editable-text entity-name="delay" current="step"  is-value-number="true"></div></td>
        <td>{{step.mep}}</td>
    </tr>
    </tbody>
</table>