<div ng-if="operation.loaded">
    <watcher-for-data ng-data="operation"></watcher-for-data>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-4"><label style="color: red;">Name (*):</label></div>
            <div class="col-md-6">
                <div mockingbird-editable-text entity-name="name" current="operation"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4"><label>Transport:</label></div>
            <div class="col-md-6">
                <div mockingbird-editable-select entity-type="transport" entity-name="transport.data" array="transports" current="operation"
                     is-value-link="true"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div ng-show="$root.isInbound(operation.mep)">
                <div class="col-md-4">
                    <label>Operation Definition Key: </label>
                </div>
                <div class="col-md-6">
                    <div mockingbird-editable-text entity-name="definitionKey.data.key" current="operation"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4"><label>MEP: </label></div>
            <div class="col-md-6">{{operation.mep}}</div>
        </div>
    </div>

    <!--<div ng-init="getById()"></div>-->

    <div class="panel-group">
        <situation-table highlight="{{highlight}}" parent="operation" panel-mode="true"
                         is-only-view="false"></situation-table>
        <parsingrule-table parent="operation" parent-type="operation" panel-mode="true"
                           ng-if="operation.isInbound"></parsingrule-table>
        <context-definition parent="operation" parent-type="operation" panel-mode="true"></context-definition>
    </div>
</div>

