<div class="container-fluid" style="padding-right: 0; padding-left: 0;" ng-init="logModel.connect()">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <form class="form-inline" role="form" style="font-size:12px;font-weight:normal;">
                    <div class="form-group">
                        <label for="logLevel">Log Level:</label>
                        <select class="form-control input-sm" id="logLevel">
                            <option>Fatal</option>
                            <option>Error</option>
                            <option>Warn</option>
                            <option selected="selected">Info</option>
                            <option>Debug</option>
                            <option>Trace</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="autoscroll" ng-change="logModel.autoscrolling()" ng-model="logModel.enabled">
                        <label for="autoscroll">Auto scroll</label>
                    </div>

                    <div class="form-group pull-right">
                        <button type="button" class="btn btn-info btn-sm" ng-click="logModel.clearLogs()">Clear Logs</button>
                    </div>
                    <!--<div class="form-group pull-right">-->
                        <!--<button type="button" class="btn btn-info btn-sm" id="menu-toggle" ng-click="ctrl.logShow()">Show Logs</button>-->
                    <!--</div>-->
                </form>
            </div>
            <div class="panel-body">
                <div class="panel panel-default" style="overflow-x: hidden;overflow-y:auto;height:500px;" id="logPanel">
                    <table id="logTable" class="table table-bordered" style="word-break: break-word;font-size:12px;">
                        <thead>
                        <tr>
                            <th class="col-md-1">Id</th>
                            <th class="col-md-1">Time</th>
                            <th class="col-md-1">Level</th>
                            <th class="col-md-2">Logger name</th>
                            <th class="col-md-7">Message</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="logItem in logModel.getLogs()">
                                <td class="col-md-1">{{logItem.id}}</td>
                                <td class="col-md-1">{{logItem.time}}</td>
                                <td class="col-md-1">{{logItem.level}}</td>
                                <td class="col-md-2">{{logItem.loggerName.substring(logItem.loggerName.lastIndexOf(".") + 1)}}</td>
                                <td class="col-md-7">{{logItem.message}}<br/><a ng-if="logItem.stackTrace" href="#stacktrace-window" data-toggle="modal" ng-click="ctrl.openST(logItem.stackTrace)">Link to the stacktrace...</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="stacktrace-window" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title">Stacktrace:</h5>
            </div>
            <div class="modal-body">
                <div class="panel panel-default" id="stacktrace-data" style="word-break: normal;font-size:12px;height:400px;overflow-y:auto;">
                </div>
            </div>
        </div>
    </div>
</div>