<web-app xmlns:jee="http://www.springframework.org/schema/jee">

    <jee:jndi-lookup id="dataSource"
                     jndi-name="jdbc/mbdb"
                     expected-type="javax.sql.DataSource"/>

    <servlet>
        <servlet-name>view</servlet-name>
        <jsp-file>/view.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>departments</servlet-name>
        <jsp-file>/departments.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editor</servlet-name>
        <jsp-file>/editor.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <jsp-file>/add.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <jsp-file>/delete.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>searching</servlet-name>
        <jsp-file>/searching.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>log</servlet-name>
        <jsp-file>/log.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>view</servlet-name>
        <url-pattern>/view/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>departments</servlet-name>
        <url-pattern>/departments/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editor</servlet-name>
        <url-pattern>/editor/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searching</servlet-name>
        <url-pattern>/searching/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log/*</url-pattern>
    </servlet-mapping>

</web-app>