<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Select situation: {{selected.situation.name}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <strong ng-if="direction === 'outbound'">Sender:</strong>
            <strong ng-if="direction === 'inbound'">Receiver:</strong>
            <div mockingbird-editable-select entity-name="system" array="selected.systems" current="selected"></div>
        </div>
        <div class="col-md-4">
            <strong>Operation:</strong>
            <div mockingbird-editable-select entity-name="operation" array="selected.operations"
                 current="selected"></div>
        </div>
        <div class="col-md-4">
            <strong>Situation:</strong>
            <div mockingbird-editable-select entity-name="situation" array="selected.situations"
                 current="selected"></div>
            <div ng-show="selected.operation.id" style="color: dimgrey; font-size: 90%">Not found? <a href
                    ng-click="switchCreateMode()">Create new</a></div>
        </div>
    </div>
    <div ng-if="createMode" style="margin-top: 15px;border-top: 1px solid lightgray">
        <div class="row">
            <div class="col-md-12">
                <h4>Create new situation: {{selected.situation.name}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="name-{{selected.situation.id}}" style="color: red;">Name (*):</label>
            </div>
            <div class="col-md-4">
                <div mockingbird-editable-text entity-name="name" current="selected.situation"
                     id="name-{{selected.situation.id}}"></div>
            </div>
        </div>
        <div class="row" ng-if="direction === 'outbound'">
            <div class="col-md-12">
                <h5 ng-if="direction === 'outbound'">Request:</h5>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;" ng-if="direction === 'outbound'">
            <div class="col-md-2">
                <label for="receiver-{{selected.situation.id}}">Receiver:</label>
            </div>
            <div class="col-md-4">
                <div id="receiver-{{selected.situation.id}}" mockingbird-editable-select entity-type="system"
                     entity-name="receiver" array="selected.systems" current="selected.situation"
                     is-value-link="true"></div>
            </div>
            <div class="col-md-2" ng-if="direction === 'inbound'">
                <label for="operation-{{selected.situation.id}}">Operation:</label>
            </div>
            <div class="col-md-4" ng-if="direction === 'inbound'">
                <div id="operation-{{selected.situation.id}}"
                     mockingbird-editable-select
                     entity-type="operation" entity-name="operation" array="$root.availableOperations"
                     current="selected.situation" is-value-link="true"></div>
            </div>
        </div>
        <div class="row" ng-if="direction === 'outbound'">
            <div class="col-md-2">
                <label for="template-{{selected.situation.id}}">Template:</label>
            </div>
            <div class="col-md-4">
                <div id="template-{{selected.situation.id}}" mockingbird-editable-select entity-type="template"
                     entity-name="template" array="$root.availableTemplates" current="selected.situation"
                     is-value-link="true"></div>
            </div>
        </div>
        <div class="row" ng-if="direction === 'outbound'">
            <div class="col-md-2">
                <label for="unit-{{selected.situation.id}}">Unit:</label>
            </div>
            <div class="col-md-4">
                <div id="unit-{{selected.situation.id}}" mockingbird-editable-select entity-name="unit"
                     array="$root.availableUnit" current="selected.situation" is-value-string="true"></div>
            </div>
            <div class="col-md-2">
                <label for="delay-{{selected.situation.id}}">Delay:</label>
            </div>
            <div class="col-md-4">
                <div mockingbird-editable-text entity-name="delay" current="selected.situation" is-value-number="true"
                     id="delay-{{selected.situation.id}}"></div>
            </div>
        </div>
    </div>
    <div style="color: dimgrey" ng-show="!!selected.situation">
        <div ng-if="direction === 'outbound'">
            <strong>Call: </strong>
            {{selected.system.name}}
            <span class="glyphicon glyphicon-menu-right"></span> {{selected.operation.name}} + <i>{{selected.situation.template.name}}</i>
            <span class="glyphicon glyphicon-menu-right"></span>
            {{selected.situation.receiver.name}}<br/><strong>{{selected.situation.mep}}</strong>
        </div>
        <div ng-if="direction === 'inbound'">
            <strong>Call: </strong>
            ?
            <span class="glyphicon glyphicon-menu-right"></span> {{selected.operation.name}}
            <span class="glyphicon glyphicon-menu-right"></span>
            {{selected.system.name}}<br/><strong>{{selected.situation.mep}}</strong>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-if="!createInProgress" type="button" class="btn btn-success " ng-click="save()">Apply</button>
    <button ng-if="createInProgress" type="button" class="btn disabled btn-success"><span class="glyphicon glyphicon-refresh gly-spin"></span> Loading...</button>
    <button ng-if="!createInProgress" type="button" class="btn btn-primary" ng-click="close()">Cancel</button>
    <button ng-if="createInProgress" type="button" class="btn disabled btn-primary"><span class="glyphicon glyphicon-refresh gly-spin"></span> Loading...</button>
</div>