<div ng-hide="previewData.loaded"><span class="glyphicon glyphicon-refresh gly-spin"></span> Loading...</div>
<table ng-if="previewData.loaded" class="table table-striped small">
    <thead>
    <tr>
        <th>Call</th>
        <th>Enabled</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="step in previewData.data">
        <td>
            <situation-step step="step" readonly="true"></situation-step>
        </td>
        <td>
            <switch disabled="true" ng-model="step.enabled"></switch>
        </td>
    </tr>
    </tbody>
</table>